.vscode/**
typings/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/.git/**
../node_modules/**
../package*.json
../Makefile
../tree-sitter/**
../ispc.tree-sitter/**
../server/ispc_languageserver/**
../tree-sitter-CMakeLists.txt
package*.json
Makefile
tree-sitter/**
ispc.tree-sitter/**
server/ispc_languageserver/**
tree-sitter-CMakeLists.txt
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.d.ts
node_modules/**/*.md
node_modules/**/LICENSE*
node_modules/**/README*
node_modules/**/CHANGELOG*
